.div-container {
    display: grid;
}

.form-container {
    display: inline-grid;
    margin: auto;
    margin-top: 3vh;
}

.input-item {
    margin-bottom: 6px;
}

.img-logo {
    width: 100px;
    height: 100px;
    margin: auto;
}
