<div class="div-container">

    <img class="img-logo" src="https://www.mbejda.com/content/images/2017/08/AngularJS-Shield.svg" />

    <form [formGroup]="forgotPasswordForm" class="form-container">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input placeholder="Email" matInput type="email" formControlName="email">
          </mat-form-field>

        <button [disabled]="!forgotPasswordForm.valid" (click)="onForgotPassword()" mat-raised-button color="primary">Reset password</button>
    </form>
</div>
