<!-- cu ajutorul lui addEvent primim evenimentul din componenta -->
<!-- $event reprezinta continutul trimis prin metoda .emit din componenta app-edit-item -->
<app-add-edit-item [selectedItem]="selectedItem" [categoryList]="categories" (addEvent)="onReceiveItem($event)" (editEvent)="onEditItem($event)" (deleteEvent)="onDeleteItem($event)"></app-add-edit-item>
<!-- itemsList este atribut pentru componenta listItems, 
a devenit atribut pentru ca in fata variabilei itemsList
din componenta am adaugat @Input() -->
<app-list-items [itemsList]="items"  (selectItemEvent)="onSelectedItemFromList($event)"></app-list-items>

<app-add-edit-categories [selectedCategory]="selectedCategory" (addEvent)="onReceiveCategory($event)" (editEvent)="onEditCategory($event)" (deleteEvent)="onDeleteCategory($event)"></app-add-edit-categories>

<app-list-categories [categoriesList]="categories" (selectCategoryEvent)="onSelectedCategoryFromList($event)"></app-list-categories>