<div>
    <div class="div-logo">
        <img class="img-logo"
            src="https://www.mbejda.com/content/images/2017/08/AngularJS-Shield.svg" />
    </div>
    <div *ngIf="true">
        <div>
            <p>Title:</p>
            <p>{{data.product?.title}}</p>
        </div>
        <div>
            <p>Description:</p>
            <p>{{data.product?.description}}</p>
        </div>
        <div>
            <p>Price:</p>
            <p>{{data.product?.price}}</p>
        </div>
        <div>
            <p>Categories:</p>
            <p>{{data.product?.category.title}}</p>
        </div>
        <div>
            <p>Subcategories:</p>
            <p>{{data.product?.subCategory.title}}</p>
        </div>
        <div>
            <p>Date</p>
            <p>{{data.product?.title}}</p>
        </div>
        <button (click)="onAddItemToOrder()" mat-raised-button color="primary">Add to order</button>
        <button (click)="onCloseDialog()" mat-raised-button color="primary">Close</button>
    </div>
    
    
</div>